<!--UI testing Component-->
<div class="px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Screen/Component Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Stage
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Link
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elements of apiData"
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ elements.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{ elements.stage }}
                    </td>
                    <td class="px-6 py-4">
                        <button type="button" (click)="navigateOnClick(elements.link)"
                            class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Link</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>