.header-section {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.side-nav-section {
    position: sticky;
    left: 0;
    z-index: 1000;
}

.main-section {
    margin-left: 252px;
}

.breadcrump-section {
    margin-top: 10px;
    margin-left: 270px;
}

.speed-up-dial-section {
    z-index: 10000;;
}