<!--Header section-->
<div class="header-section">
    <app-header></app-header>
</div>
<!--Screen once the user is logged in-->
<div class="screen" *ngIf="loggedInFlag">
    <div class="side-nav-section">
        <app-side-nav></app-side-nav>
    </div>
    <div class="breadcrump-section">
        <app-breadcrump></app-breadcrump>
    </div>
    <div class="speed-up-dial-section">
        <app-speed-up-dial></app-speed-up-dial>
    </div>
    <div class="main-section">
        <router-outlet />
    </div>
</div>
<!--Screen once the user is not logged in-->
<div class="" *ngIf="!loggedInFlag">
    <router-outlet />
</div>