<!--Register Component-->
<div
    class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900 custom-height">
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Create a Free Account
        </h2>
        <form [formGroup]="registerForm" class="mt-8 space-y-6">
            <!--User Full Name-->
            <div>
                <label *ngIf="(!registerForm.controls['userName'].errors) || registerForm.controls['userName'].pristine"
                    for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    full name</label>
                <!-- Label for error case -->
                <label
                    *ngIf="(registerForm.controls['userName'].errors?.['required']) && !registerForm.controls['userName'].pristine"
                    htmlFor="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">
                    Your full name
                </label>
                <input type="text" name="userName" id="userName" formControlName="userName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="example name">
                <!-- Error message -->
                <p *ngIf="(registerForm.controls['userName'].errors?.['required']) && !registerForm.controls['userName'].pristine"
                    class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oh, snap!</span> Please verify this field.
                </p>
            </div>
            <!--User Email Id-->
            <div>
                <label
                    *ngIf="(!registerForm.controls['userEmailId'].errors?.['required']) || registerForm.controls['userEmailId'].pristine"
                    for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    email</label>
                <!-- Label for error case -->
                <label
                    *ngIf="(registerForm.controls['userEmailId'].errors?.['required']) && !registerForm.controls['userEmailId'].pristine"
                    htmlFor="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">
                    Your email
                </label>
                <input type="email" name="email" id="email" formControlName="userEmailId"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="name@company.com">
                <!-- Error message -->
                <p *ngIf="(registerForm.controls['userEmailId'].errors?.['required']) && !registerForm.controls['userEmailId'].pristine"
                    class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oh, snap!</span> Please verify this field.
                </p>
            </div>
            <!--User Phone Number-->
            <div>
                <label
                    *ngIf="(!registerForm.controls['userPhoneNumber'].errors?.['required']) || registerForm.controls['userPhoneNumber'].pristine"
                    for="userPhoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    phone number</label>
                <!-- Label for error case -->
                <label
                    *ngIf="(registerForm.controls['userPhoneNumber'].errors?.['required']) && !registerForm.controls['userPhoneNumber'].pristine"
                    htmlFor="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">
                    Your phone number
                </label>
                <input type="text" name="userPhoneNumber" id="userPhoneNumber" formControlName="userPhoneNumber"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="12345 67890">
                <!-- Error message -->
                <p *ngIf="(registerForm.controls['userPhoneNumber'].errors?.['required']) && !registerForm.controls['userPhoneNumber'].pristine"
                    class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oh, snap!</span> Please verify this field.
                </p>
            </div>
            <!--User Password-->
            <div>
                <label
                    *ngIf="(!registerForm.controls['userPassword'].errors?.['required']) || registerForm.controls['userPassword'].pristine"
                    for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    password</label>
                <!-- Label for error case -->
                <label
                    *ngIf="(registerForm.controls['userPassword'].errors?.['required']) && !registerForm.controls['userPassword'].pristine"
                    htmlFor="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">
                    Your password
                </label>
                <input type="password" name="password" id="password" placeholder="••••••••"
                    formControlName="userPassword"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <!-- Error message -->
                <p *ngIf="(registerForm.controls['userPassword'].errors?.['required']) && !registerForm.controls['userPassword'].pristine"
                    class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oh, snap!</span> Please verify this field.
                </p>
            </div>
            <!--User Password Confirm-->
            <div>
                <label
                    *ngIf="(!registerForm.controls['userPasswordConfirm'].errors?.['required']) || registerForm.controls['userPasswordConfirm'].pristine"
                    for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                    password</label>
                <!-- Label for error case -->
                <label
                    *ngIf="(registerForm.controls['userPasswordConfirm'].errors?.['required']) && !registerForm.controls['userPasswordConfirm'].pristine"
                    htmlFor="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">
                    Your password
                </label>
                <input type="password" name="userPasswordConfirm" id="userPasswordConfirm" placeholder="••••••••"
                    formControlName="userPasswordConfirm"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <!-- Error message -->
                <p *ngIf="(registerForm.controls['userPasswordConfirm'].errors?.['required']) && !registerForm.controls['userPasswordConfirm'].pristine"
                    class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oh, snap!</span> Please verify this field.
                </p>
            </div>
            <!--Terms and Conditions Section-->
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" name="remember" type="checkbox"
                        formControlName="termsFlag"
                        class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                        required>
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="font-medium text-gray-900 dark:text-white">I accept the <a href="#"
                            class="text-primary-700 hover:underline dark:text-primary-500">Terms and
                            Conditions</a></label>
                </div>
            </div>
            <!--Register User Button-->
            <button type="submit" (click)="submitForm()"
                class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create
                account</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
                Already have an account? <a href="#"
                    class="text-primary-700 hover:underline dark:text-primary-500">Login here</a>
            </div>
        </form>
    </div>
</div>

<div class="snackbar-detailed" *ngIf=snackbarFlag>
    <app-snackbar-detailed [message]="snackbarMessage" [snackbarType]="snackbarType"
        [duration]="snackbarDuration"></app-snackbar-detailed>
</div>