@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    transition: background-color 0.3s ease;
}

body {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

input,
select {
    transition: all 0.3s ease;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4B6EE4;
}